// Theme: New Style
// Target: mobile scss

// mobile overrides
.category-ipmessengers #navmenuv {
  top: 0px !important;
  left: 140px !important;
}

/* Smaller "Create" button on mobilr */
.category-ipmessengers button#create-new {
  font-family: 'Circular';
  font-size: large;
  font-weight: bold;
  color: rgb(153, 153, 153);
  opacity: 0.699999988079071;
  background-color: transparent;
  padding: 3px 3px 0px 3px !important;
  border: solid 1px rgb(207,207,207);
  margin: 0px !important;
}
