// Theme: New Style
// Target: desktop scss

#navmenucontainer {
  display: none;
}

.category-ipmessengers #navmenucontainer {
  display: block;
}

.category-ipmessengers #navmenuv {
  position: absolute;
  z-index: 9999;
  height: 50px;
  margin: 0;
  top: 5px;
  left: 245px;
  font-family: 'Circular' !important;
  font-size: large !important;
  font-weight: bold;
}

.category-ipmessengers #navmenuv li a {
  font-size: 16px;
  font-weight: bold;
  color: #999;
  line-height: 60px;
  padding: 0 5px;
}

.category-ipmessengers #navmenuv li a:hover {
  color: black;
}

.category-ipmessengers #navmenuv ul.nav {
  padding: 0;
  margin: 0;
}

.category-ipmessengers #navmenuv .nav li {
  display: inline;
  padding: 0;
  margin: 0;
}

.category-ipmessengers .category-breadcrumb {
  display: none !important;
}
/* new topic button */
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-book.woff2") format('woff2'), url("https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-book.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-medium.woff2") format('woff2'),url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Circular;
  src: url("https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-bold.woff2") format('woff2'),url('https://sp-bootstrap.global.ssl.fastly.net/7.3.0/fonts/circular-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
/* Hide the original "+ New Topic" button */
.category-ipmessengers button#create-topic {
  display: none;
}
/* Larger "Create" button on Desktop */
.category-ipmessengers button#create-new {
  font-family: 'Circular';
  font-size: large;
  font-weight: bold;
  color: rgb(153, 153, 153);
  opacity: 0.699999988079071;
  background-color: transparent;
  padding-top: 10px;
  border: solid 1px rgb(207,207,207);
  margin: 0 5px;
}

.category-ipmessengers .fa-plus:before {
  font-family: 'FontAwesome' !important;
  font-weight: normal;
}

.category-ipmessengers button#create-new:hover {
  color: rgb(40, 40, 40);
  background-color: rgb(233,233,233);
}
/* Smaller "Create" button on Mobile */
.category-ipmessengers html.mobile-view.mobile-device button#create-new {
  height: 32px;
  /* width: 32px; */
  margin: 3px;
}
